.font {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #F46F16;
}
.color1 {
    color: #F46F16;
}
li {
    list-style: none;
}
.a-none {
    text-decoration: none;
}
.bg-annonce {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    background-color: #EC5A13;
}